@{
  Layout = "_Layout";
}
@await Html.PartialAsync("Footer")

@using UniversityRegistrar.Models
@model UniversityRegistrar.Models.Student

<h2 style="text-align: center;">Student Details</h2>
<hr>
<div class="row">
  <div class="col-6">
    <h4><strong>Name: </strong>@Html.DisplayFor(model => model.Name)</h4>
    <h4><strong>Enrollment Date: </strong>@Html.DisplayFor(model => model.EnrollmentDate)</h4>
  </div>
  <div class="col-6">
    <a href="students/@Model.StudentId/edit" class="btn btn-primary">Edit</a>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-6">
    @if (@Model.MajorStudents.Count == 0)
    {
      <p>This student does not have any majors yet!</p>
    }
    else
    {
      <h4>This student has the following majors:</h4>
      <ul>
        @foreach (MajorStudent join in Model.MajorStudents)
        {
          <li>@Html.ActionLink($"{@join.Major.Name}", "Details", "Majors", new {id = @join.Major.MajorId})</li>
        }
      </ul>
      <br>
    }
    <p>@Html.ActionLink("Add a major", "AddMajor", new { id = Model.StudentId })</p>
  </div>
  <div class="col-6">
    @if (@Model.JoinEntities.Count == 0)
    {
      <p>This student does not have any courses yet!</p>
    }
    else
    {
      <h4>This student is enrolled in the following courses:</h4>
      <ul>
        @foreach (Enrollment join in Model.JoinEntities)
        {
          <li>@Html.ActionLink($"{@join.Course.Name}", "Details", "Courses", new {id = @join.Course.CourseId})</li>
        }
      </ul>
      <br>
      <p>@Html.ActionLink("Add a course", "AddCourse", new { id = Model.StudentId })</p>
    }
  </div>
</div>