@{
  Layout = "_Layout";
}
@await Html.PartialAsync("Footer")

@model UniversityRegistrar.Models.Course

<h2>Add a major to this course: @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CourseId)

    @Html.Label("Select major")
    @Html.DropDownList("MajorId")

    <input type="submit" value="Save" class="btn btn-success"/>
}

<p>@Html.ActionLink("Back to list", "Index")</p>